body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.post-section {
    margin-bottom: 30px;
}

.post-heading {
    text-align: center;
    color: #666;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
}

.candidate-table {
    width: 100%;
    border-collapse: collapse;
}

.candidate-table th,
.candidate-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.candidate-table th {
    background-color: #f2f2f2;
}

.candidate-row:hover {
    background-color: #f2f2f2;
}

.candidate-image {
    max-width: 50px;
    border-radius: 10%;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.dashboard-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.dashboard-button:hover {
    background-color: #0056b3;
}
